<div class="scores">
  <div class="row">
    <span class="point-marker blue">1</span>
    <span class="point-marker blue">2</span>
    <span class="point-marker blue">4</span>
    <span class="point-marker blue">7</span>
    <span class="point-marker blue">11</span>
    <span class="point-marker blue">16</span>
    <span class="point-marker blue">22</span>
    <span class="point-marker blue">29</span>
    <span class="point-marker blue">37</span>
    <span class="point-marker blue">46</span>
    <span class="point-marker blue">56</span>
  </div>
  <div class="row">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
    <span>6</span>
    <span>7</span>
    <span>8</span>
    <span>9</span>
    <span>10</span>
    <span>11</span>
  </div>
</div>
<div class="board-container">
  <div class="board">
    <div class="arrows">
      <div class="horizontal">
        <app-arrow></app-arrow>
        <app-arrow></app-arrow>
        <app-arrow></app-arrow>
      </div>
      <div class="vertical">
        <app-arrow direction="down"></app-arrow>
        <app-arrow direction="down"></app-arrow>
        <app-arrow direction="down"></app-arrow>
        <app-arrow direction="down"></app-arrow>
      </div>
    </div>
    <div class="box-grid">
      <span></span>
      <app-selectable-box *ngFor="let box of boxes" [selected]="box.selected" [class.yellow-text]="box.value">
        {{ box.value || '&#10006;' }}
      </app-selectable-box>
    </div>
  </div>
  <div class="bonus-container vertical-bonuses">
    <span class="bonus-marker orange">5</span>
    <span class="bonus-marker yellow">&#10006;</span>
    <span class="fox"></span>
  </div>
  <div class="bonus-container horizontal-bonuses">
    <span class="bonus-marker"></span>
    <span class="bonus-marker yellow">&#10006;</span>
    <span class="bonus-marker purple">6</span>
    <span class="bonus-marker">+1</span>
  </div>
</div>
