:host {
  display: flex;
  align-items: center;
  gap: 1vmin;
  height: 12.75vmin;
  background-color: var(--pc-grey);
  padding-inline: 2.7vmin;
}

.bonus, .bonus-placeholder {
  width: 8vmin;
  height: 8vmin;
  line-height: calc(8vmin - 6px);
  font-size: 4vmin;
  font-weight: 900;
}

.bonus {
  margin-inline-end: 1.5vmin;
}

.bonus-placeholder {
  box-sizing: border-box;
  border-radius: 50%;
  border: 4px solid var(--pc-white);
  background-color: var(--pc-grey-light);
}

.available {
  border-color: var(--pc-green);
  cursor: pointer;
}

.used {
  border-color: var(--pc-grey-dark);
  position: relative;
  text-align: center;

  &::after {
    content: '\2715';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--pc-black-light);
    transform: scale(1.5);
  }
}
