<header>
  <div class="dices">
    <div class="dice"></div>
    <div class="dice"></div>
    <div class="dice"></div>
  </div>
  <div class="controls">
    <app-rounds></app-rounds>
    <app-bonus><span class="refresh" style="width: 100%"></span></app-bonus>
    <app-bonus>+1</app-bonus>
  </div>
</header>
<main>
  <app-yellow></app-yellow>
  <app-blue></app-blue>
  <app-green></app-green>
  <app-orange></app-orange>
  <app-purple></app-purple>
</main>
<footer>
  <div class="signs">
    <span></span>
    <span class="sign">+</span>
    <span class="sign">+</span>
    <span class="sign">+</span>
    <span class="sign">+</span>
    <span class="sign">+</span>
    <span class="sign">=</span>
    <span></span>
  </div>
  <span class="result"></span>
  <span class="result"></span>
  <span class="result"></span>
  <span class="result"></span>
  <span class="result"></span>
  <span class="result"></span>
  <span class="result"></span>
</footer>
