<div class="round" (click)="addBonus(Bonus.Refresh)">
  <span class="round-num">1</span>
  <span class="round-bonus bonus-marker refresh"></span>
</div>
<div class="round" (click)="addBonus(Bonus.Refresh)">
  <span class="round-num">2</span>
  <span class="round-bonus bonus-marker">+1</span>
</div>
<div class="round" (click)="addBonus(Bonus.Refresh)">
  <span class="round-num">3</span>
  <span class="round-bonus bonus-marker refresh"></span>
</div>
<div class="round" (click)="addBonus(Bonus.Refresh)">
  <span class="round-num">4</span>
  <div class="bonus-options">
    <span class="round-bonus-sm bonus-marker">&#10006;</span>
    <span class="separator"></span>
    <span class="round-bonus-sm bonus-marker">6</span>
  </div>
</div>
<div class="round dark" (click)="addBonus(Bonus.Refresh)">
  <span class="round-num">5</span>
  <div class="bonus-options">
    <span class="player"></span>
    <span class="player"></span>
    <span class="player"></span>
  </div>
</div>
<div class="round dark" (click)="addBonus(Bonus.Refresh)">
  <span class="round-num">6</span>
  <div class="bonus-options">
    <span class="player"></span>
    <span class="separator"></span>
    <span class="player"></span>
    <span class="player"></span>
  </div>
</div>
