<div class="bonuses">
  <span></span>
  <span></span>
  <span class="bonus-marker refresh"></span>
  <span></span>
  <span class="bonus-marker yellow">&#10006;</span>
  <span class="bonus-marker">+1</span>
  <span></span>
  <span class="fox"></span>
  <span></span>
  <span class="bonus-marker purple">6</span>
  <span></span>
</div>
<div class="points">
  <span></span>
  <span></span>
  <span></span>
  <span class="star">x2</span>
  <span></span>
  <span></span>
  <span class="star">x2</span>
  <span></span>
  <span class="star">x2</span>
  <span></span>
  <span class="star">x3</span>
</div>
<app-selectable-box *ngFor="let box of boxes">
  {{ box.value }}
</app-selectable-box>
