:host {
  position: relative;
  display: flex;
  gap: 0.5vmin;
  justify-content: flex-end;
  background-color: var(--pc-purple);
  color: var(--pc-purple);
  padding: 1vmin 2vmin;
}

.relations {
  position: absolute;
  top: 3vmin;
  width: 87.5vmin;
  display: flex;
  gap: 4.5vmin;

  img {
    width: 3.5vmin;
    z-index: 2;
  }

  span {
    width: 1.5vmin;
  }
}
