<div class="bonuses">
  <span></span>
  <span></span>
  <span class="bonus-marker refresh"></span>
  <span class="bonus-marker blue">&#10006;</span>
  <span class="bonus-marker">+1</span>
  <span class="bonus-marker yellow">&#10006;</span>
  <span class="fox"></span>
  <span class="bonus-marker refresh"></span>
  <span class="bonus-marker green">&#10006;</span>
  <span class="bonus-marker orange">6</span>
  <span class="bonus-marker">+1</span>
</div>
<div class="relations">
  <span></span>
  <img src="assets/svgs/lt.svg" />
  <img src="assets/svgs/lt.svg" />
  <img src="assets/svgs/lt.svg" />
  <img src="assets/svgs/lt.svg" />
  <img src="assets/svgs/lt.svg" />
  <img src="assets/svgs/lt.svg" />
  <img src="assets/svgs/lt.svg" />
  <img src="assets/svgs/lt.svg" />
  <img src="assets/svgs/lt.svg" />
  <img src="assets/svgs/lt.svg" />
  <span></span>
</div>
<app-selectable-box *ngFor="let box of boxes">
{{ box.value }}
</app-selectable-box>
